@import '../assets/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--content-padding);
  height: var(--header-height);
}

.logo {
  height: var(--logo-height);
  margin-top: calc(var(--logo-height) / 5);
  z-index: 2;

  [class~='wordmark'] {
    display: none;
    color: var(--color-logo);
    fill: currentColor;
    @include responsive(xs) {
      display: inline;
    }
  }

  [class~='logomark'] {
    path:nth-child(1) {
      fill: #9cc888;
    }
    path:nth-child(2) {
      fill: #338640;
    }
  }
}
